@charset "UTF-8";
/* ---БАЗОВАЯ НАСТРОЙКА СТРАНИЦЫ--- */
body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: #253c53;
  color: #253c53;
  overflow-x: hidden;
  font-family: "Roboto";
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ---НАСТРОЙКА ШРИФТОВ СТРАНИЦЫ--- */
@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-ExtraBold.eot");
  src: local("Panton ExtraBold"), local("Panton-ExtraBold"), url("../fonts/Panton-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-ExtraBold.woff") format("woff"), url("../fonts/Panton-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-RegularItalic.eot");
  src: local("Panton Regular Italic"), local("Panton-RegularItalic"), url("../fonts/Panton-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-RegularItalic.woff") format("woff"), url("../fonts/Panton-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-ThinItalic.eot");
  src: local("Panton Thin Italic"), local("Panton-ThinItalic"), url("../fonts/Panton-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-ThinItalic.woff") format("woff"), url("../fonts/Panton-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-Bold.eot");
  src: local("Panton Bold"), local("Panton-Bold"), url("../fonts/Panton-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Bold.woff") format("woff"), url("../fonts/Panton-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-ExtraLight.eot");
  src: local("Panton ExtraLight"), local("Panton-ExtraLight"), url("../fonts/Panton-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-ExtraLight.woff") format("woff"), url("../fonts/Panton-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-ExtraBoldItalic.eot");
  src: local("Panton ExtraBold Italic"), local("Panton-ExtraBoldItalic"), url("../fonts/Panton-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-ExtraBoldItalic.woff") format("woff"), url("../fonts/Panton-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-ExtraLightItalic.eot");
  src: local("Panton ExtraLight Italic"), local("Panton-ExtraLightItalic"), url("../fonts/Panton-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-ExtraLightItalic.woff") format("woff"), url("../fonts/Panton-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-Thin.eot");
  src: local("Panton Thin"), local("Panton-Thin"), url("../fonts/Panton-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Thin.woff") format("woff"), url("../fonts/Panton-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-SemiBold.eot");
  src: local("Panton SemiBold"), local("Panton-SemiBold"), url("../fonts/Panton-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-SemiBold.woff") format("woff"), url("../fonts/Panton-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-Heavy.eot");
  src: local("Panton Heavy"), local("Panton-Heavy"), url("../fonts/Panton-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Heavy.woff") format("woff"), url("../fonts/Panton-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-SemiBoldItalic.eot");
  src: local("Panton SemiBold Italic"), local("Panton-SemiBoldItalic"), url("../fonts/Panton-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-SemiBoldItalic.woff") format("woff"), url("../fonts/Panton-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-BoldItalic.eot");
  src: local("Panton Bold Italic"), local("Panton-BoldItalic"), url("../fonts/Panton-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-BoldItalic.woff") format("woff"), url("../fonts/Panton-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-BlackItalic.eot");
  src: local("Panton Black Italic"), local("Panton-BlackItalic"), url("../fonts/Panton-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-BlackItalic.woff") format("woff"), url("../fonts/Panton-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-LightItalic.eot");
  src: local("Panton Light Italic"), local("Panton-LightItalic"), url("../fonts/Panton-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-LightItalic.woff") format("woff"), url("../fonts/Panton-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-Regular.eot");
  src: local("Panton Regular"), local("Panton-Regular"), url("../fonts/Panton-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Regular.woff") format("woff"), url("../fonts/Panton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-HeavyItalic.eot");
  src: local("Panton Heavy Italic"), local("Panton-HeavyItalic"), url("../fonts/Panton-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-HeavyItalic.woff") format("woff"), url("../fonts/Panton-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-Light.eot");
  src: local("Panton Light"), local("Panton-Light"), url("../fonts/Panton-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Light.woff") format("woff"), url("../fonts/Panton-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton-Black.eot");
  src: local("Panton Black"), local("Panton-Black"), url("../fonts/Panton-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Black.woff") format("woff"), url("../fonts/Panton-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* ---ШАПКА САЙТА--- */
.header {
  position: relative;
  min-height: 100vh;
  width: 980px;
  margin: auto;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  top: 30px;
}

.presentation {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.presentation__bg {
  position: absolute;
  z-index: 0;
  top: 147px;
  left: 139px;
}

.presentation__title {
  position: absolute;
  font-size: 50px;
  font-family: "Panton";
  line-height: 1.2;
  z-index: 1;
  top: 195px;
  left: 100px;
}

.presentation__consult {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  font-family: "Panton";
  font-weight: bold;
  line-height: 1.2;
  top: 295px;
  left: 100px;
}

.description {
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.descriptionMenu {
  position: relative;
  display: flex;
  width: 100%;
}

.descriptionMenu__item {
  position: relative;
  display: flex;
  min-height: 180px;
  width: 196px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #c3a976;
}

.descriptionMenu__item:nth-child(2n) {
  background-color: #a68c5a;
}

.descriptionMenu__icon {
  position: relative;
  height: 50px;
  width: 50px;
  margin: 30px auto	15px;
}

.descriptionMenu__title {
  max-width: 150px;
  font-size: 16px;
  font-family: "Panton";
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.descriptionBody__item {
  display: none;
  background-color: #fafafa;
}

.descriptionBody__item.active {
  display: block;
}

.descriptionBody__text h3 {
  font-size: 21px;
  font-family: "Panton";
  color: #282828;
  line-height: 1.2;
  text-align: left;
}

.descriptionBody__text p {
  font-size: 16px;
  font-family: "Panton";
  color: #282828;
  line-height: 1.2;
}

/* ---СЕКЦИЯ СРАВНЕНИЙ--- */
.comparative {
  min-height: 300px;
  width: 100%;
  background: #ea3302;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---СЕКЦИЯ ИСПОЛЬЗОВАНИЯ--- */
.applying {
  position: relative;
  width: 100%;
  background: #c3a976;
  display: flex;
  justify-content: center;
}

.applying__content {
  max-width: 980px;
  background: #c3a976;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applying__title {
  position: relative;
  width: 100%;
  margin: 60px 0 20px 0;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 900;
  font-size: 33px;
  color: black;
}

.applying__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.applying__items img {
  margin: 20px 0;
}

/* ---СЕКЦИЯ ДО-ПОСЛЕ--- */
.beforeAfter {
  min-height: 300px;
  background: #ea3302;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---СЕКЦИЯ ЦВЕТОВЫХ ТЕМ--- */
.colors {
  min-height: 300px;
  background: #c3a976;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---СЕКЦИЯ ВОПРОСОВ--- */
.questions {
  min-height: 300px;
  background: #ea3302;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---СЕКЦИЯ ПРОДУКЦИИ--- */
.production {
  min-height: 300px;
  background: #c3a976;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---СЕКЦИЯ АКЦИЙ--- */
.stocks {
  min-height: 300px;
  background: #ea3302;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---СЕКЦИЯ ОТЗЫВОВ--- */
.reviews {
  min-height: 300px;
  background: #c3a976;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---СЕКЦИЯ КАРТЫ--- */
.maps {
  min-height: 300px;
  background: #ea3302;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---ФОРМА ОБРАТНОЙ СВЯЗИ--- */
.form {
  min-height: 200px;
  background: #fafafa;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  position: relative;
  width: 980px;
  height: 65px;
  display: flex;
  justify-content: flex-end;
}

.navigation__logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 130px;
  left: 0;
}

.navigation__list {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation__item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Panton";
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}

.navigation__phone {
  position: relative;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation__phone a {
  font-size: 19px;
  font-family: "Panton";
  color: white;
  line-height: 1.2;
}

.navigation__phone button {
  position: relative;
  cursor: pointer;
  text-align: center;
  color: #fafafa;
  border: none;
  outline: none;
  background-image: linear-gradient(90deg, #af0808 0%, #ff4200 100%);
  width: 160px;
  height: 33px;
}

/* ---ПОДВАЛ СТРАНИЦЫ--- */
.content {
  flex: 1 0 auto;
}

footer {
  position: relative;
  background-color: #253c53;
  color: #fafafa;
  flex: 0 0 auto;
}

.footer {
  text-align: center;
}
