@charset "UTF-8";
/* ---БАЗОВАЯ НАСТРОЙКА СТРАНИЦЫ--- */
body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: #fafafa;
  color: #253c53;
  overflow: hidden;
  font-family: "Panton";
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ---НАСТРОЙКА ШРИФТОВ СТРАНИЦЫ--- */
@font-face {
  font-family: 'Panton';
  src: local("Panton Bold"), local("Panton-Bold"), url("../fonts/Panton-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: local("Panton Thin"), local("Panton-Thin"), url("../fonts/Panton-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: local("Panton SemiBold"), local("Panton-SemiBold"), url("../fonts/Panton-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: local("Panton Regular"), local("Panton-Regular"), url("../fonts/Panton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: local("Panton Black"), local("Panton-Black"), url("../fonts/Panton-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* ---ШАПКА САЙТА--- */
.header {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  background: #253c53;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__navigation {
  position: absolute;
  z-index: 6;
  top: 0;
  padding-top: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__navigation {
    top: 0;
    padding-top: 35px;
    width: calc(100% - 10px);
  }
}

@media (max-width: 767px) {
  .header__navigation {
    z-index: 10;
    top: 0;
    width: 100%;
  }
}

.presentation {
  position: absolute;
  z-index: 5;
  width: 980px;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .presentation {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .presentation {
    width: 100%;
  }
}

.presentation__contacts {
  position: absolute;
  left: 0;
  top: 15%;
}

@media (max-width: 767px) {
  .presentation__contacts {
    top: 20%;
  }
}

.presentation__filter {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(37, 60, 83, 0.3);
}

.presentation__gradient {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #253c53 25%, transparent 60%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .presentation__gradient {
    background: linear-gradient(to top, #253c53 25%, transparent 45%);
  }
}

@media (max-width: 767px) {
  .presentation__gradient {
    background: linear-gradient(to top, #253c53 10%, transparent 65%);
  }
}

.presentation__bg {
  position: absolute;
  width: calc(50% + 350px);
  height: 81%;
  z-index: 0;
  top: 19%;
  left: calc(50% - 350px);
}

.presentation__bg img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .presentation__bg {
    top: 110px;
    width: 100%;
    left: 0;
  }
}

@media (max-width: 767px) {
  .presentation__bg {
    top: 110px;
    width: 100%;
    left: 0;
  }
}

.presentation__title {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 23vh;
  left: 100px;
}

@media (max-width: 767px) {
  .presentation__title {
    left: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    top: 43vh;
  }
}

.presentation__title h1 {
  text-transform: uppercase;
  margin: 0;
  color: white;
  font-size: 50px;
  font-family: "Panton";
  line-height: 1.2;
}

@media (max-width: 767px) {
  .presentation__title h1 {
    text-align: center;
    font-size: 30px;
  }
}

.presentation__title h2 {
  margin: 0 0 50px 0;
  color: white;
  font-size: 50px;
  font-family: "Panton";
  line-height: 1.2;
}

@media (max-width: 767px) {
  .presentation__title h2 {
    text-align: center;
    font-size: 23px;
  }
}

.presentation__title button {
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  border-color: #fc4000;
  color: white;
  background: rgba(37, 60, 83, 0.8);
  width: 281px;
  height: 50px;
  z-index: 1;
  font-size: 20px;
  font-family: "Panton";
  line-height: 1.2;
}

.description {
  position: relative;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.descriptionMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: -180px;
  display: flex;
  width: 980px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .descriptionMenu {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .descriptionMenu {
    width: 100%;
    top: -100px;
  }
}

.descriptionMenu__item {
  position: relative;
  display: flex;
  height: 180px;
  width: 196px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  background-color: #c3a976;
}

.descriptionMenu__item:nth-child(2n) {
  background-color: #a68c5a;
}

.descriptionMenu__item:nth-child(2n):before {
  border-color: #a68c5a transparent transparent;
}

.descriptionMenu__item:nth-child(2n) .descriptionMenu__title {
  background-color: #a68c5a;
}

.descriptionMenu__item:before {
  border-color: #c3a976 transparent transparent;
}

@media (max-width: 767px) {
  .descriptionMenu__item {
    justify-content: center;
    height: 100px;
    width: 100%;
  }
}

.descriptionMenu__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 30px auto 15px;
}

.descriptionMenu__icon img {
  width: 100%;
}

@media (max-width: 767px) {
  .descriptionMenu__icon {
    height: 40px;
    width: 40px;
    margin: 10px auto;
  }
}

.descriptionMenu__title {
  max-width: 150px;
  height: 100%;
  background-color: #c3a976;
  color: #fafafa;
  font-size: 16px;
  font-family: "Panton";
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 767px) {
  .descriptionMenu__title {
    display: none;
  }
}

.descriptionBody {
  position: relative;
  width: 100%;
  z-index: 0;
  height: 100%;
  background-color: rgba(37, 60, 83, 0.1);
  display: flex;
  justify-content: center;
}

.descriptionBody__item {
  position: relative;
  width: 1280px;
  display: flex;
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .descriptionBody__item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .descriptionBody__item {
    width: 100%;
  }
}

.descriptionBody__item.active {
  display: flex;
}

.descriptionBody__img {
  position: relative;
  width: 200px;
}

.descriptionBody__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .descriptionBody__img {
    display: none;
  }
}

.descriptionBody__text {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
}

.descriptionBody__text h3 {
  font-size: 21px;
  margin: 10px 0;
  font-family: "Panton";
  color: #282828;
  line-height: 1.2;
  text-align: left;
}

.descriptionBody__text p {
  font-size: 16px;
  font-family: "Panton";
  color: #282828;
  line-height: 1.2;
  text-align: justify;
  margin: 5px 0;
}

@media (max-width: 767px) {
  .descriptionBody__text p {
    font-size: 14px;
  }
}

#bg {
  display: none;
}

@media (max-width: 767px) {
  #bg {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  #bg img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: -915px;
    top: -50px;
    transform: rotate(5.5deg);
  }
}

/* ---СЕКЦИЯ СРАВНЕНИЙ--- */
.comparative {
  position: relative;
  height: 590px;
  width: 100%;
  background: #fafafa;
  display: flex;
}

@media (max-width: 767px) {
  .comparative {
    height: 380px;
  }
}

.comparative__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 980px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .comparative__content {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .comparative__content {
    width: 85%;
    height: 360px;
  }
}

.comparative__left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 780px;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .comparative__left {
    width: 100%;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .comparative__left {
    width: 100px;
    transform: scale(0.6);
    align-items: center;
    justify-content: center;
  }
}

.comparative__graph {
  position: relative;
  display: flex;
  margin-top: 50px;
  height: 475px;
  width: 100%;
}

@media (max-width: 767px) {
  .comparative__graph {
    height: 450px;
    margin-top: 0px;
  }
}

.comparative__age {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 65px;
  height: 100%;
}

@media (max-width: 767px) {
  .comparative__age {
    width: 40px;
  }
}

.comparative__y {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 44px;
  transform: rotate(-90deg) translateY(-100px);
  text-transform: uppercase;
  font-family: Panton;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .comparative__y {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .comparative__y {
    width: 30px;
    height: 20px;
    transform: rotate(-90deg) translateY(-40px);
  }
}

.comparative__yAxe {
  position: relative;
  height: 100%;
  width: 6px;
  background: #ea3302;
}

.comparative__field {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 25px;
}

.comparative__title {
  position: absolute;
  width: 100%;
  top: 0;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 900;
  font-size: 32px;
  color: black;
}

@media (max-width: 767px) {
  .comparative__title {
    display: none;
  }
}

.comparative__bars {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 370px;
  margin-right: 100px;
}

@media (max-width: 767px) {
  .comparative__bars {
    margin-right: 10px;
    height: 300px;
  }
}

.comparative__xAxe {
  position: relative;
  height: 6px;
  width: 600px;
  background: #ea3302;
  transform: translateX(-25px);
}

@media (max-width: 767px) {
  .comparative__xAxe {
    width: 400px;
  }
}

.comparative__x {
  position: relative;
  width: 100%;
  margin: 20px 0 0 65px;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .comparative__x {
    margin: 10px 0;
    width: 250px;
    left: 80px;
  }
}

.comparative__right {
  position: relative;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #253c53;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .comparative__right {
    display: none;
  }
}

@media (max-width: 767px) {
  .comparative__right {
    display: none;
  }
}

.comparative__logo {
  position: relative;
  display: flex;
  width: 200px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.comparative__image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 70px;
}

.comparative__text {
  position: relative;
  font-family: Panton;
  font-weight: 100;
  font-size: 55px;
  text-transform: uppercase;
  color: #fafafa;
  text-align: right;
}

.comparative__bg {
  position: absolute;
  right: 0;
  width: 33%;
  height: 100%;
  background: #253c53;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .comparative__bg {
    display: none;
  }
}

@media (max-width: 767px) {
  .comparative__bg {
    display: none;
  }
}

.bar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  width: 150px;
}

@media (max-width: 767px) {
  .bar {
    width: 80px;
  }
}

.bar__text {
  width: 90px;
  font-family: Panton;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .bar__text {
    font-size: 18px;
  }
}

.bar__image {
  position: relative;
  height: 65px;
  width: 65px;
  overflow: hidden;
}

.bar__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bar__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 210px;
  width: 65px;
  background: #c3a976;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .bar__body {
    height: 250px;
    width: 65px;
  }
}

.bar__bodyAge {
  font-weight: 700;
  font-size: 27px;
  text-align: center;
  line-height: 20px;
  width: 85%;
}

@media (max-width: 767px) {
  .bar__bodyAge {
    font-size: 20px;
  }
}

.bar__bodyPrice {
  font-size: 14px;
  font-weight: 600;
}

.bar__firstText {
  width: 100px;
  font-weight: 800;
}

.bar__firstBody {
  height: 210px;
  color: #fafafa;
}

@media (max-width: 767px) {
  .bar__firstBody {
    height: 180px;
  }
}

.bar__secondBody {
  height: 170px;
  background: #fafafa;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .bar__secondBody {
    height: 120px;
  }
}

.bar__thirdBody {
  height: 120px;
  background: #fafafa;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .bar__thirdBody {
    height: 90px;
  }
}

.bar__forthBody {
  height: 80px;
  background: #fafafa;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .bar__forthBody {
    height: 70px;
  }
}

#titleMob {
  display: none;
}

@media (max-width: 767px) {
  #titleMob {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    width: 300px;
    height: 100px;
    font-size: 20px;
    top: 20px;
  }
}

/* ---СЕКЦИЯ СРАВНЕНИЙ--- */
.thermopanels {
  position: relative;
  height: auto;
  width: 100%;
  background: rgba(37, 60, 83, 0.05);
}

.thermopanels__content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 40px;
  background: rgba(37, 60, 83, 0.05);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .thermopanels__content {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .thermopanels__content {
    width: 85%;
    margin: 10px 0;
  }
}

.thermopanels__content p {
  text-align: justify;
  margin: 5px 0;
  font-size: 16px;
}

@media (max-width: 767px) {
  .thermopanels__content p {
    font-size: 14px;
  }
}

.thermopanels__content ul {
  align-self: center;
  list-style-type: disc;
  text-align: justify;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .thermopanels__content ul {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .thermopanels__content ul {
    font-size: 14px;
    margin: 10px 0;
  }
}

.thermopanels__content li {
  margin: 15px;
}

@media (max-width: 767px) {
  .thermopanels__content li {
    margin: 10px;
  }
}

.thermopanels__title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 15px 0;
}

@media (max-width: 767px) {
  .thermopanels__title {
    font-size: 16px;
    margin: 5px 0;
  }
}

/* ---СЕКЦИЯ ИСПОЛЬЗОВАНИЯ--- */
.applying {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.applying__content {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applying__title {
  position: relative;
  width: 100%;
  margin: 60px 0 20px 0;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 900;
  font-size: 33px;
  color: black;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .applying__title {
    width: 85%;
    font-size: 33px;
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .applying__title {
    width: 85%;
    font-size: 20px;
    margin: 20px 0 20px 0;
    text-align: center;
  }
}

.applying__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.applying__items a {
  width: 262px;
  height: 200px;
  margin: 20px 0;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .applying__items a {
    width: 200px;
    height: 152px;
    margin: 10px 0;
  }
}

@media (max-width: 767px) {
  .applying__items a {
    width: 150px;
    height: 115px;
    margin: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .applying__items {
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .applying__items {
    justify-content: center;
  }
}

.gallery {
  position: relative;
  background: #c3a976;
  width: 100%;
}

.gallery__title {
  position: relative;
  font-size: 32px;
  font-family: "Panton";
  text-transform: uppercase;
  color: #253c53;
  font-weight: 800;
  text-align: center;
  line-height: 90px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gallery__title {
    line-height: 70px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .gallery__title {
    text-align: center;
    font-size: 20px;
    line-height: 60px;
  }
}

.gallery__content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .gallery__content {
    height: auto;
  }
}

.gallery__item {
  position: relative;
  height: 200px;
  width: 200px;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 767px) {
  .gallery__item {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 767px) {
  .gallery__item {
    height: 150px;
    width: 150px;
  }
}

.gallery__img {
  position: relative;
  box-shadow: 0 0 6px rgba(37, 60, 83, 0.8);
  border: 4px solid #fafafa;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---СЕКЦИЯ ДО-ПОСЛЕ--- */
.beforeAfter {
  height: 600px;
  width: 100%;
  background: #253c53;
  color: #fafafa;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfter {
    height: auto;
  }
}

@media (max-width: 767px) {
  .beforeAfter {
    height: auto;
  }
}

.beforeAfter__content {
  position: relative;
  display: flex;
  width: 980px;
  height: 100%;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfter__content {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .beforeAfter__content {
    width: 100%;
    flex-direction: column;
  }
}

.beforeAfterMenu {
  position: absolute;
  left: calc(100% - 240px);
  order: 2;
  background: #c3a976;
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfterMenu {
    position: relative;
    left: auto;
    padding-top: 5px;
  }
}

@media (max-width: 767px) {
  .beforeAfterMenu {
    position: relative;
    left: auto;
    padding-top: 5px;
  }
}

.beforeAfterMenu__title {
  font-size: 32px;
  font-family: "Panton";
  text-transform: uppercase;
  color: #253c53;
  font-weight: 800;
  line-height: 80px;
  padding-left: 35px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfterMenu__title {
    text-align: center;
    padding-left: 0;
    font-size: 22px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .beforeAfterMenu__title {
    text-align: center;
    padding-left: 0;
    font-size: 18px;
    line-height: 34px;
  }
}

.beforeAfterMenu__list {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfterMenu__list {
    flex-direction: row;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .beforeAfterMenu__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
  }
}

.beforeAfterMenu__item {
  position: relative;
  background: #c3a976;
  width: 235px;
  height: 95px;
  padding: 10px 35px;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfterMenu__item {
    padding: 5px 5px;
  }
}

@media (max-width: 767px) {
  .beforeAfterMenu__item {
    padding: 5px 2px;
    width: 45%;
  }
}

.beforeAfterMenu__item:before {
  border-color: transparent #c3a976 transparent transparent;
}

.beforeAfterMenu__img {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border: 3px solid #fafafa;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(37, 60, 83, 0.8);
}

.beforeAfterMenu__img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beforeAfterBody {
  position: relative;
  display: flex;
  flex-direction: column;
  order: 1;
  max-width: 725px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfterBody {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .beforeAfterBody {
    max-width: 100%;
  }
}

.beforeAfterBody__title {
  font-size: 33px;
  font-family: "Panton";
  text-transform: uppercase;
  color: #fafafa;
  font-weight: 800;
  line-height: 130px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfterBody__title {
    text-align: center;
    padding-left: 0;
    font-size: 33px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  .beforeAfterBody__title {
    text-align: center;
    padding-left: 0;
    font-size: 20px;
    line-height: 48px;
  }
}

.beforeAfterBody__img {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

.beforeAfterBody__list {
  position: relative;
  width: 640px;
  height: 385px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfterBody__list {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .beforeAfterBody__list {
    width: 100%;
    height: 200px;
  }
}

.beforeAfterBody__desc {
  position: relative;
  display: flex;
  width: 100%;
}

.beforeAfterBody__desc span {
  font-size: 20px;
  font-family: "Panton";
  text-transform: uppercase;
  color: #fafafa;
  font-weight: 400;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .beforeAfterBody__desc span {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .beforeAfterBody__desc span {
    font-size: 14px;
  }
}

.active {
  display: block;
}

.container-beforeafter {
  width: 100%;
  height: 100%;
  position: relative;
}

.beforeafter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  -ms-touch-action: none;
}

.beforeafter .beforeafter-item {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.beforeafter img {
  width: 100%;
  height: 100%;
}

.beforeafter-cursor {
  background-color: #ea3302 !important;
  width: 10px !important;
  overflow: visible !important;
}

.beforeafter-cursor:before, .beforeafter-cursor:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d12d02;
}

.beforeafter-cursor:after {
  top: auto;
  bottom: -10px;
}

/* ---СЕКЦИЯ ЦВЕТОВЫХ ТЕМ--- */
.colors {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.colors__content {
  max-width: 870px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .colors__content {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .colors__content {
    width: 85%;
  }
}

.colors__title {
  position: relative;
  width: 100%;
  margin: 75px 0 43px 0;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 900;
  font-size: 33px;
  color: black;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .colors__title {
    margin: 30px 0 20px 0;
  }
}

@media (max-width: 767px) {
  .colors__title {
    text-align: center;
    font-size: 20px;
    margin: 25px 0 13px 0;
  }
}

.colors__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colors__items img {
  width: 120px;
  height: 120px;
  margin: 12px 12px;
  object-fit: cover;
  transition: .2s;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .colors__items img {
    width: 100px;
    height: 100px;
    margin: 6px 3px;
  }
}

@media (max-width: 767px) {
  .colors__items img {
    width: 80px;
    height: 80px;
    margin: 4px 4px;
  }
  .colors__items img:hover {
    width: 84px;
    height: 84px;
    margin: 2px 2px;
  }
}

.colors__textBottom {
  position: relative;
  width: 100%;
  text-align: justify;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 33px;
  font-weight: 700;
}

.colors__textTop {
  position: relative;
  width: 100%;
  text-align: justify;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 600;
}

/* ---СЕКЦИЯ ВОПРОСОВ--- */
.questions {
  position: relative;
  width: 100%;
  background: #c3a976;
  padding: 30px 0 50px 0;
}

.questions__bg {
  position: absolute;
  margin-top: -30px;
  width: 100%;
  height: 100%;
  background: url(../img/logo_brown.png);
}

.questions__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 980px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .questions__content {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .questions__content {
    width: 85%;
  }
}

.questions__title {
  position: relative;
  font-size: 32px;
  font-family: "Panton";
  text-transform: uppercase;
  color: #fafafa;
  font-weight: 800;
  text-align: center;
  line-height: 90px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .questions__title {
    line-height: 40px;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .questions__title {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }
}

.questionsBody__desc {
  display: none;
  font-size: 16px;
  font-family: "Panton";
  color: #253c53;
  font-weight: 400;
  padding: 15px 25px 25px;
  text-align: justify;
}

.questionsBody__desc.active {
  display: block;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .questionsBody__desc {
    font-size: 16px;
    text-align: justify;
    padding: 15px 15px 15px 25px;
  }
}

@media (max-width: 767px) {
  .questionsBody__desc {
    font-size: 14px;
    padding: 5px 25px 10px 10px;
  }
}

.questionsBody__item {
  position: relative;
  cursor: pointer;
  width: 750px;
  display: flex;
  background: #fafafa;
  color: #253c53;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 6px rgba(37, 60, 83, 0.8);
  transition: all .4s;
  margin: 10px auto;
  transition: all .4s;
}

.questionsBody__item:hover {
  box-shadow: 0 0 2px rgba(37, 60, 83, 0.5);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .questionsBody__item {
    align-items: flex-start;
    width: 85%;
  }
}

@media (max-width: 767px) {
  .questionsBody__item {
    width: 85%;
  }
}

.questionsBody__trigger {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Panton";
  text-transform: uppercase;
  color: #c3a976;
}

@media (max-width: 767px) {
  .questionsBody__trigger {
    width: 45px;
  }
}

.questionsBody__title {
  position: relative;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Panton";
  text-transform: uppercase;
  color: #253c53;
  font-weight: 600;
  padding: 25px;
  padding-right: 40px;
  box-sizing: border-box;
}

.questionsBody__title p {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .questionsBody__title {
    font-size: 16px;
    padding: 10px 25px;
    padding-right: 45px;
  }
}

@media (max-width: 767px) {
  .questionsBody__title {
    font-size: 12px;
    padding: 10px 40px 10px 10px;
  }
}

/* ---СЕКЦИЯ ПРОДУКЦИИ--- */
.production {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.production__content {
  width: 980px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .production__content {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .production__content {
    width: 85%;
  }
}

.production__title {
  position: relative;
  width: 100%;
  margin: 60px 0 20px 0;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 900;
  font-size: 33px;
  color: black;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .production__title {
    margin: 20px 0 10px 0;
  }
}

@media (max-width: 767px) {
  .production__title {
    font-size: 20px;
    margin: 20px 0 10px 0;
    text-align: center;
  }
}

.production__items {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .production__items {
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .production__items {
    justify-content: center;
    margin-bottom: 20px;
  }
}

.production__item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 490px;
}

.production__item img {
  width: 210px;
  height: 210px;
  object-fit: contain;
}

@media (max-width: 767px) {
  .production__item img {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .production__item {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .production__item {
    margin-bottom: 15px;
  }
}

.product__desc {
  position: relative;
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 20px 25px 20px;
}

@media (max-width: 767px) {
  .product__desc {
    width: 120px;
    padding: 20px 20px 10px 20px;
  }
}

.product__name {
  font-family: Panton;
  font-weight: normal;
  font-size: 25px;
}

@media (max-width: 767px) {
  .product__name {
    font-size: 16px;
  }
}

.product__price {
  font-family: Panton;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 23px;
}

@media (max-width: 767px) {
  .product__price {
    font-size: 14px;
  }
}

.product__button button {
  width: 165px;
  height: 45px;
  border: 2px solid #ea3302;
  background: #fafafa;
  color: #ea3302;
  font-family: Panton;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .product__button button {
    width: 120px;
    height: 30px;
    font-size: 14px;
  }
}

/* ---СЕКЦИЯ АКЦИЙ--- */
.stocks {
  position: relative;
  width: 100%;
  height: 340px;
  background: #c3a976;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .stocks {
    height: auto;
  }
}

@media (max-width: 767px) {
  .stocks {
    height: auto;
  }
}

.stocks__bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.stocks__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .3;
}

.stocks__content {
  max-width: 980px;
  height: 100%;
  background: #c3a976;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .stocks__content {
    width: 85%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .stocks__content {
    width: 85%;
    height: 100%;
  }
}

.stocks__form {
  position: relative;
  width: 980px;
  padding: 40px 0;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .stocks__form {
    width: 100%;
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .stocks__form {
    width: 100%;
    padding: 20px 0;
  }
}

.stocks__title {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 900;
  font-size: 33px;
  color: #fafafa;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .stocks__title {
    width: 85%;
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .stocks__title {
    text-align: center;
    font-size: 20px;
  }
}

.stocks__subtitle {
  position: relative;
  width: 100%;
  font-family: Panton;
  font-weight: 600;
  font-size: 23px;
  color: #fafafa;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .stocks__subtitle {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .stocks__subtitle {
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
  }
}

.stocks__input {
  position: relative;
  margin: 20px 0;
  color: #fafafa;
  cursor: text;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .stocks__input {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .stocks__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.stocks__input input {
  width: 230px;
  height: 45px;
  margin: 0 30px 10px 0;
  padding-left: 15px;
  border: 3px solid #fafafa;
  background-color: rgba(0, 0, 0, 0);
  color: #fafafa;
  font-family: Panton;
  font-weight: 600;
  font-size: 19px;
  cursor: text;
  box-sizing: border-box;
}

.stocks__input input::placeholder {
  color: #fafafa;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 600;
  font-size: 19px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .stocks__input input {
    width: 28%;
    height: 40px;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 767px) {
  .stocks__input input {
    margin: 0 0 10px 0;
  }
}

.stocks__submit {
  height: 55px;
  cursor: pointer;
  background: #fafafa !important;
  color: #c3a976 !important;
  font-family: Panton;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  padding-left: 0 !important;
}

.stocks__submit input {
  padding-left: 0 !important;
}

/* ---СЕКЦИЯ ОТЗЫВОВ--- */
.reviews {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.reviews__content {
  position: relative;
  width: 980px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .reviews__content {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .reviews__content {
    width: 85%;
    margin-bottom: 20px;
  }
}

.reviews__title {
  position: relative;
  width: 100%;
  margin: 55px 0 20px 0;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 900;
  font-size: 33px;
  color: black;
}

@media (max-width: 767px) {
  .reviews__title {
    text-align: center;
    font-size: 20px;
  }
}

.reviews__items {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .reviews__items {
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .reviews__items {
    justify-content: space-around;
  }
}

.review {
  position: relative;
  width: 30%;
  height: auto;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background: rgba(37, 60, 83, 0.05);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .review {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .review {
    margin-bottom: 10px;
  }
}

.review__desc {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Panton;
  font-weight: normal;
  font-size: 14px;
  color: black;
}

.review__desc p {
  margin-top: 5px;
}

.review__name {
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0 15px;
}

.review__workplace {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.review__company {
  margin-left: 5px;
  color: #ea3302;
}

/* ---СЕКЦИЯ КАРТЫ--- */
.map {
  position: relative;
  height: 410px;
  width: 100%;
  background: #253c53;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 767px) {
  .map {
    height: 380px;
  }
}

.map__bg {
  position: relative;
  width: 100%;
  height: 100%;
}

.map__img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map__content {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 980px;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .map__content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .map__content {
    justify-content: center;
    width: 100%;
  }
}

.mapCard {
  position: relative;
  margin: 20px;
  background: #fafafa;
  box-shadow: 0 0 8px rgba(37, 60, 83, 0.7);
  width: 350px;
  padding: 25px;
  min-height: 300px;
  font-size: 18px;
  font-family: "Panton";
  color: #253c53;
  font-weight: 400;
}

@media (max-width: 767px) {
  .mapCard {
    width: 300px;
    font-size: 17px;
    padding: 15px;
    min-height: auto;
  }
}

.mapCard h3 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 800;
  margin: 5px 0;
}

@media (max-width: 767px) {
  .mapCard h3 {
    font-size: 14px;
  }
}

.mapCard p {
  margin: 5px 0;
}

.mapCard__logo {
  position: relative;
  width: 130px;
  margin: 15px;
}

.mapCard__place {
  margin: 15px;
}

.mapCard__phones {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 30px 15px 15px;
}

.mapCard__phones span {
  font-size: 15px;
  padding-left: 7px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .mapCard__phones span {
    font-size: 12px;
  }
}

.mapCard__phones a {
  text-decoration: none;
  color: #253c53;
  font-size: 17px;
}

@media (max-width: 767px) {
  .mapCard__phones a {
    font-size: 14px;
  }
}

.mapCard__phone {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.mapCard__email {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 15px;
}

.mapCard__email a {
  padding: 0 10px 2px;
  color: #ea3302;
}

.address {
  position: absolute;
  z-index: 25;
  width: 100%;
  height: 35px;
  top: 0;
  color: #253c53;
  background: #fafafa;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .address {
    height: 30px;
  }
}

@media (max-width: 767px) {
  .address {
    height: 40px;
  }
}

.address__container {
  position: relative;
  height: 100%;
  width: 980px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .address__container {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .address__container {
    justify-content: space-around;
    width: 100%;
    padding: 0 10px;
  }
}

.address__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.address__item p, .address__item a, .address__item svg {
  margin: 0 3px;
}

.address__item svg {
  position: relative;
  width: 20px;
}

.address__desc {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .address__desc {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .address__questions {
    display: none;
  }
}

.address__consult a {
  color: #ea3302;
  font-size: 13px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .address__place {
    display: none;
  }
}

@media (max-width: 767px) {
  .address__place {
    display: none;
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.popup__close {
  position: absolute;
  cursor: pointer;
  z-index: 5;
  top: 0px;
  right: 10px;
  transform: rotate(45deg);
  font-size: 40px;
  color: #253c53;
  transition: all 0.4s;
}

.popup__close:hover {
  color: #ea3302;
}

.popup__active {
  opacity: 1;
  z-index: 999;
  animation: fadeIn .5s;
}

.popup__closed {
  opacity: 0;
  z-index: -1;
}

.formCall {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #253c53;
  padding: 25px;
  background: #fafafa;
  box-shadow: 0 0 6px rgba(37, 60, 83, 0.8);
}

.formCall__title {
  position: relative;
  width: 100%;
  margin: 20px 0 10px;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: black;
}

.formCall__input {
  position: relative;
  margin: 10px 0;
  width: 250px;
  height: 45px;
  box-sizing: border-box;
  padding-left: 15px;
  border: 3px solid #c3a976;
  color: black;
  font-family: Panton;
  font-weight: 600;
  font-size: 19px;
}

.formCall__input::placeholder {
  color: #c3a976;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 600;
  font-size: 19px;
}

.formCall__submit {
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  margin: 10px 0;
  border: 0;
  background: #ea3302;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  background: #c3a976;
  color: #fafafa;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
}

/* ---ФОРМА ОБРАТНОЙ СВЯЗИ--- */
.form {
  position: relative;
  width: 980px;
  padding: 60px 0;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form {
    width: 85%;
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .form {
    width: 85%;
    padding: 20px 0;
  }
}

.form__title {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 900;
  font-size: 33px;
  color: black;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form__title {
    width: 85%;
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .form__title {
    text-align: center;
    font-size: 20px;
  }
}

.form__subtitle {
  position: relative;
  width: 100%;
  font-family: Panton;
  font-weight: normal;
  font-size: 19px;
  color: black;
}

@media (max-width: 767px) {
  .form__subtitle {
    text-align: center;
    font-size: 14px;
  }
}

.form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding-left: 0 !important;
  background: #c3a976;
  color: #fafafa !important;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
}

.form__input {
  position: relative;
  display: flex;
  margin: 20px 0;
  color: #c3a976;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form__input {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .form__input {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.form__input input {
  width: 230px;
  height: 45px;
  margin: 0 30px 10px 0;
  box-sizing: border-box;
  padding-left: 15px;
  border: 3px solid #c3a976;
  color: black;
  font-family: Panton;
  font-weight: 600;
  font-size: 19px;
}

.form__input input::placeholder {
  color: #c3a976;
  text-transform: uppercase;
  font-family: Panton;
  font-weight: 600;
  font-size: 19px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form__input input {
    width: 28%;
    height: 40px;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 767px) {
  .form__input input {
    margin: 0 0 10px 0;
  }
}

.navigation {
  position: relative;
  background: #253c53;
  margin: auto;
  width: 980px;
  height: 65px;
  display: flex;
  justify-content: flex-end;
}

.navigation--footer .burger {
  display: none;
}

@media (max-width: 767px) {
  .navigation--footer .navigation__list {
    display: none;
  }
}

.navigation__adress {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 980px;
  font-weight: 400;
  font-size: 14px;
  z-index: 20;
  top: 0;
  right: 0;
  text-align: left;
  padding: 5px 0;
  background: #253c53;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation__adress {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .navigation__adress {
    width: 100%;
    font-size: 10px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation {
    justify-content: space-between;
    width: 700px;
  }
}

@media (max-width: 767px) {
  .navigation {
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
    z-index: 10;
    background: #253c53;
  }
  .navigation--footer {
    justify-content: center;
  }
}

.navigation__logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 130px;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation__logo {
    position: relative;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .navigation__logo {
    display: none;
  }
}

.navigation__list {
  position: relative;
  display: flex;
  align-items: center;
  transition: right .4s;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    right: 0;
    top: 80px;
    right: -100%;
    background: rgba(37, 60, 83, 0.8);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 4px #253c53;
  }
  .navigation__list.active {
    right: 0;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .navigation__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgba(37, 60, 83, 0.8);
    padding: 10px 0;
    width: 100%;
    top: -150px;
    z-index: 1;
    transition: .7s;
  }
  .navigation__list.active {
    top: 80px;
    z-index: 1;
  }
}

.navigation__bg {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  background: #253c53;
}

@media (max-width: 767px) {
  .navigation__bg {
    display: block;
  }
}

.navigation__item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Panton";
  color: #fafafa;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation__item {
    font-size: 20px;
    text-align: right;
    width: 100%;
    top: 65px;
  }
}

.navigation--bottom {
  top: auto;
  bottom: 0;
}

.navigation__phone {
  position: relative;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation__phone a {
  font-size: 19px;
  font-family: "Panton";
  color: white;
  text-decoration: none;
}

.navigation__phone a span:first-child {
  font-weight: 300;
}

@media (max-width: 767px) {
  .navigation__phone {
    margin-left: 0;
    padding: 3px 20px;
    z-index: 5;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation__phone {
    position: relative;
    margin-left: 0;
    display: flex;
  }
}

.navigation__phone button {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-family: "Panton";
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #fafafa;
  border: none;
  outline: none;
  background-image: linear-gradient(to top, #af0808 0%, #ff4200 100%);
  width: 160px;
  height: 33px;
}

.navigation__burger {
  position: relative;
  width: 55px;
  height: 55px;
  color: #fafafa;
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation__burger {
    position: relative;
    display: block;
    right: 0;
    top: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    color: #253c53;
    z-index: 12;
  }
}

@media (max-width: 767px) {
  .navigation__burger {
    position: relative;
    display: block;
    right: 15px;
    top: 7px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    color: #253c53;
    z-index: 12;
    padding: 0 10px;
  }
}

.burger__line {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #fafafa;
}

@media (max-width: 767px) {
  .burger__line {
    height: 4px;
  }
}

.burger__line1 {
  animation: rotateline1-rev 1s;
}

.burger__line2 {
  margin: 15px 0;
  animation: scaleline2-rev 1s;
}

@media (max-width: 767px) {
  .burger__line2 {
    margin: 5px 0;
  }
}

.burger__line3 {
  animation: rotateline3-rev 1s;
}

.burger__lines {
  position: absolute;
  width: 65px;
  height: 65px;
}

@media (max-width: 767px) {
  .burger__lines {
    width: 35px;
    height: 35px;
  }
}

.contacts {
  position: relative;
  display: flex;
}

.contacts--hor {
  flex-direction: row;
}

.contacts--vert {
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts--vert {
    left: 20px;
  }
}

@media (max-width: 767px) {
  .contacts--vert {
    top: 20px;
    left: 5px;
  }
}

.contacts__item {
  position: relative;
  padding: 8px;
  width: 30px;
}

@media (max-width: 767px) {
  .contacts__item {
    padding: 4px;
  }
}

/* ---ПОДВАЛ СТРАНИЦЫ--- */
.content {
  flex: 1 0 auto;
}

footer {
  position: relative;
  width: 100%;
  background-color: #253c53;
  color: #fafafa;
  flex: 0 0 auto;
}

.footer {
  text-align: center;
}

.footer__navigation {
  position: relative;
  height: 120px;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .footer__navigation {
    height: 90px;
  }
}

.footer__content {
  position: relative;
  width: 980px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__content {
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .footer__content p {
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .footer__content {
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .footer__content p {
    padding: 0 10px;
    margin: 0;
    font-size: 12px;
  }
}

.footer__defense {
  position: relative;
  background-color: #1c2d3e;
  color: #fafafa;
}
