/* ---СЕКЦИЯ ИСПОЛЬЗОВАНИЯ--- */
.applying {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	&__content {
		max-width: 980px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		position: relative;
		width: 100%;
		margin: 60px 0 20px 0;
		text-transform: uppercase;
		font-family: Panton;
		font-weight: 900;
		font-size: 33px;
		color: black;
		@include tablets {
			width: 85%;
			font-size: 33px;
			padding: 0 40px; 
		}
		@include phones {
			width: 85%;
			font-size: 20px;
			margin: 20px 0 20px 0;
			text-align: center;
		}
		
	}
	&__items {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 20px;
		& a {
			width: 262px;
			height: 200px;
			margin: 20px 0;
			object-fit: cover;
			@include tablets {
				width: 200px;
				height: 152px;
				margin: 10px 0;
			}
			@include phones {
				width: 150px;
				height: 115px;
				margin: 5px;
			}
		}
		@include tablets {
			justify-content: space-around;
		}
		@include phones {
			justify-content: center;
		}
	}
}