/* ---СЕКЦИЯ ДО-ПОСЛЕ--- */
.beforeAfter {
	height: 600px;
	width: 100%;
	background: $mainColor;
	color: $backColor;
	overflow: hidden;

	@include tablets {
		height: auto;
		
	}

	@include phones {
		height: auto;
	}

	&__content {
		position: relative;
		display: flex;
		width: 980px;
		height: 100%;
		margin: auto;

		@include tablets {
			width: 100%;
			flex-direction: column;
		}

		@include phones {
			width: 100%;
			flex-direction: column;
		}
	}

	&Menu {
		position: absolute;
		left: calc(100% - 240px);
		order: 2;
		background: $subColor;
		height: 100%;
		width: 100%;
		padding-top: 30px;
		

		@include tablets {
			position: relative;
			left: auto;
			padding-top: 5px;
		}

		@include phones {
			position: relative;
			left: auto;
			padding-top: 5px;
		}

		&__title {
			font-size: 32px;
			font-family: "Panton";
			text-transform: uppercase;
			color: $mainColor;
			font-weight: 800;
			line-height: 80px;
			padding-left: 35px;
			@include tablets {
				text-align: center;
				padding-left: 0;
				font-size: 22px;
				line-height: 40px;
			}

			@include phones {
				text-align: center;
				padding-left: 0;
				font-size: 18px;
				line-height: 34px;
			}
		}

		&__list {
			position: relative;
			display: flex;
			flex-direction: column;

			@include tablets {
				flex-direction: row;
				padding-bottom: 20px;
			}

			@include phones {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				padding-bottom: 20px;
			}
		}

		&__item {
			position: relative;
			background: $subColor;
			width: 235px;
			height: 95px;
			padding: 10px 35px;
			cursor: pointer;

			@include tablets {
				padding: 5px 5px;
			}

			@include phones {
				padding: 5px 2px;
				width: 45%;

			}

			&:before {
				border-color: transparent $subColor transparent transparent;
			}
		}

		&__img {
			position: relative;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			overflow: hidden;
			border: 3px solid $backColor;
			border-radius: 5px;
			box-shadow: 0 0 6px (rgba($mainColor, .8));

			& img {
				position: relative;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&Body {
		position: relative;
		display: flex;
		flex-direction: column;
		order: 1;
		max-width: 725px;
		@include tablets {
			max-width: 100%;
		}

		@include phones {
			max-width: 100%;
		}
		&__title {
			font-size: 32px;
			font-family: "Panton";
			text-transform: uppercase;
			color: $backColor;
			font-weight: 800;
			line-height: 130px;
			@include tablets {
				text-align: center;
				padding-left: 0;
				font-size: 26px;
				line-height: 60px;
			}

			@include phones {
				text-align: center;
				padding-left: 0;
				font-size: 20px;
				line-height: 48px;
			}
		}

		&__img {
			position: absolute;
			display: none;
			width: 100%;
			height: 100%;
			// overflow: hidden;
		}

		&_2 {
			filter: brightness(.4)
		}

		&_3 {
			filter: grayscale(.4)
		}

		&_4 {
			filter: blur(.6)
		}

		&__list {
			position: relative;
			width: 640px;
			height: 385px;

			// overflow: hidden;
			@include tablets {
				width: 100%;
				// height: 200px;
			}

			@include phones {
				width: 100%;
				height: 200px;
			}
		}

		&__desc {
			position: relative;
			display: flex;
			width: 100%;

			& span {
				font-size: 20px;
				font-family: "Panton";
				text-transform: uppercase;
				color: $backColor;
				font-weight: 400;
				width: 100%;
				line-height: 40px;
				text-align: center;
				@include tablets {
					font-size: 18px;
				}
	
				@include phones {
					font-size: 14px;
				}
			}
		}
	}
}

.active {
	display: block;
}

.container-beforeafter {
	width: 100%;
	height: 100%;
	// height: 0;
	position: relative;
}

.beforeafter {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	pointer-events: auto;
	-ms-touch-action: none;
}

.beforeafter .beforeafter-item {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.beforeafter img {
	width: 100%;
	height: 100%;
}

.beforeafter-cursor {
	background-color: $contrColor !important;
	width: 10px !important;
	overflow: visible !important;

	&:before,
	&:after {
		content: '';
		@include centered(x);
		top: -10px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: darken($contrColor, 5%);
	}

	&:after {
		top: auto;
		bottom: -10px;
	}
}