/* ---СЕКЦИЯ ЦВЕТОВЫХ ТЕМ--- */
.colors {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	&__content {
		max-width: 870px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include tablets {
			width: 85%;
		}
		@include phones {
			width: 85%;
		}

	}
	&__title {
		position: relative;
		width: 100%;
		margin: 75px 0 43px 0;
		text-transform: uppercase;
		font-family: Panton;
		font-weight: 900;
		font-size: 33px;
		color: black;
		@include tablets {
			margin: 30px 0 20px 0;
		}
		@include phones {
			text-align: center;
			font-size: 20px;
			margin: 25px 0 13px 0;
		}		
	}
	&__items {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& img {
			width: 120px;
			height: 120px;
			margin: 12px 12px;
			object-fit: cover;
			transition: .2s;
			// &:hover {
			// 	width: 124px;
			// 	height: 124px;
			// 	margin: 10px 10px;
			// 	box-shadow: 5px 5px 5px rgba($mainColor,.2);
			// }
			@include tablets {
				width: 100px;
				height: 100px;
				margin: 6px 3px;
				}
				// &:hover {
				// 	width: 104px;
				// 	height: 104px;
				// 	margin: 3px 1px;
				// }
			@include phones {
				width: 80px;
				height: 80px;
				margin: 4px 4px;
				&:hover {
					width: 84px;
					height: 84px;
					margin: 2px 2px;
				}
			}
		}
	}
	&__textBottom {
		position: relative;
		width: 100%;
		text-align: justify;
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 33px;
		font-weight: 700;
	}
	&__textTop {
		position: relative;
		width: 100%;
		text-align: justify;
		line-height: 1.2;
		font-size: 16px;
		font-weight: 600;
	}
}

