/* ---СЕКЦИЯ ПРОДУКЦИИ--- */
.production{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	&__content {
		width: 980px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		@include tablets {
			width: 85%;
		}
		@include phones {
			width: 85%;
		}


	}
	&__title {
		position: relative;
		width: 100%;
		margin: 60px 0 20px 0;
		text-transform: uppercase;
		font-family: Panton;
		font-weight: 900;
		font-size: 33px;
		color: black;
		@include tablets {
			margin: 20px 0 10px 0;
		}
		@include phones {
			font-size: 20px;
			margin: 20px 0 10px 0;
			text-align: center;
		}		
	}
	&__items {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 120px;
		@include tablets {
			justify-content: center;
			margin-bottom: 40px;
		}
		@include phones {
			justify-content: center;
			margin-bottom: 20px;
		}
	}
	&__item {
		position: relative;
		display: flex;
		justify-content: flex-start;
		width: 490px;
		& img {
			width: 210px;
			height: 210px;
			// margin: 20px 0;
			object-fit: contain;
			@include phones {
				width: 130px;
				height: 130px;
			}
		}
		@include tablets {
			margin-bottom: 15px;
		}
		@include phones {
			margin-bottom: 15px;
		}
	}
}
.product {
	&__image {}
	&__desc {
		position: relative;
		width: 310px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 40px 20px 25px 20px;
		@include phones {
			width: 120px;
			padding: 20px 20px 10px 20px;
		}
	}
	&__name {
		font-family: Panton;
		font-weight: normal;
		font-size: 25px;
		@include phones {
			font-size: 16px;
		}
	}
	&__price {
		font-family: Panton;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 23px;
		@include phones {
			font-size: 14px;
		}
	}
	&__button{
		& button {
			width: 165px;
			height: 45px;
			border: 2px solid $contrColor;
			background: $backColor;
			color: $contrColor;
			font-family: Panton;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 18px;
			letter-spacing: 3px;
			cursor: pointer;
			@include phones {
				width: 120px;
				height: 30px;
				font-size: 14px;
			}
		}
	}
}