/* ---СЕКЦИЯ АКЦИЙ--- */
.stocks{
	background: $subColor !important;
	display: flex;
	justify-content: center;
	align-items: center;
	&__content {
		max-width: 980px;
		background: $subColor !important;

	}
}