/* ---ПОДВАЛ СТРАНИЦЫ--- */
.content{
	flex: 1 0 auto;
}
footer{
	position: relative;
	width: 100%;
	background-color: $mainColor;
	color: $backColor;
	flex: 0 0 auto;
}
.footer{
	text-align: center;
	&__navigation{
		position: relative;
		height: 120px;
		display: flex;
		align-items: center;
	}
	&__content{
		position: relative;
		width: 980px;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}
	&__defense{
		position: relative;
		background-color: darken($mainColor,6%);
		color: $backColor;
	}
}