/* ---ПОДВАЛ СТРАНИЦЫ--- */
.content{
	flex: 1 0 auto;
}
footer{
	position: relative;
	width: 100%;
	background-color: $mainColor;
	color: $backColor;
	flex: 0 0 auto;
}
.footer{
	text-align: center;
	&__navigation{
		position: relative;
		height: 120px;
		display: flex;
		align-items: center;
		@include phones {
			height: 90px;
		}
	}
	&__content{
		position: relative;
		width: 980px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		@include tablets{
			align-items: center;
			width: 100%;
			justify-content: space-between;
			& p{
				padding: 0 10px;
				margin: 0;
				font-size: 16px;
			}
		}
		@include phones{
			align-items: center;
			width: 100%;
			justify-content: space-between;
			& p{
				padding: 0 10px;
				margin: 0;
				font-size: 12px;
			}
		}
	}
	&__defense{
		position: relative;
		background-color: darken($mainColor,6%);
		color: $backColor;
	}
}