/* ---ФОРМА ОБРАТНОЙ СВЯЗИ--- */
.form {
	position: relative;
	width: 980px;
	padding: 60px 0;
	background: $backColor;
	// border: 1px solid black;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	&__title{
		position: relative;
		width: 100%;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-family: Panton;
		font-weight: 900;
		font-size: 33px;
		color: black;	
	}
	&__subtitle {
		position: relative;
		width: 100%;
		font-family: Panton;
		font-weight: normal;
		font-size: 19px;
		color: black;
	}
	&__input {
		position: relative;
		margin: 20px 0;
		color: $subColor;
		& input {
			width: 230px;
			height: 45px;
			margin-right: 30px;
			padding-left: 15px;
			border: 3px solid $subColor;
			color: black;
			font-family: Panton;
			font-weight: 600;
			font-size: 19px;
			&::placeholder {
				color: $subColor;
				text-transform: uppercase;
				font-family: Panton;
				font-weight: 600;
				font-size: 19px;
			}

		}
	}
}