/* ---НАСТРОЙКА ШРИФТОВ СТРАНИЦЫ--- */

@font-face {
	font-family: 'Panton';
	src: url('../fonts/Panton-Bold.eot');
	src: local('Panton Bold'), local('Panton-Bold'),
			url('../fonts/Panton-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Panton-Bold.woff') format('woff'),
			url('../fonts/Panton-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('../fonts/Panton-Thin.eot');
	src: local('Panton Thin'), local('Panton-Thin'),
			url('../fonts/Panton-Thin.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Panton-Thin.woff') format('woff'),
			url('../fonts/Panton-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('../fonts/Panton-SemiBold.eot');
	src: local('Panton SemiBold'), local('Panton-SemiBold'),
			url('../fonts/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Panton-SemiBold.woff') format('woff'),
			url('../fonts/Panton-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('../fonts/Panton-Regular.eot');
	src: local('Panton Regular'), local('Panton-Regular'),
			url('../fonts/Panton-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Panton-Regular.woff') format('woff'),
			url('../fonts/Panton-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('../fonts/Panton-Light.eot');
	src: local('Panton Light'), local('Panton-Light'),
			url('../fonts/Panton-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Panton-Light.woff') format('woff'),
			url('../fonts/Panton-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('../fonts/Panton-Black.eot');
	src: local('Panton Black'), local('Panton-Black'),
			url('../fonts/Panton-Black.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Panton-Black.woff') format('woff'),
			url('../fonts/Panton-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

