/* ---НАСТРОЙКА ШРИФТОВ СТРАНИЦЫ--- */

@font-face {
	font-family: 'Panton';
	src: local('Panton Bold'), local('Panton-Bold'),
			url('../fonts/Panton-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: local('Panton Thin'), local('Panton-Thin'),
			url('../fonts/Panton-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: local('Panton SemiBold'), local('Panton-SemiBold'),
			url('../fonts/Panton-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: local('Panton Regular'), local('Panton-Regular'),
			url('../fonts/Panton-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: local('Panton Light'), local('Panton-Light'),
			url('../fonts/Panton-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: local('Panton Black'), local('Panton-Black'),
			url('../fonts/Panton-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

