//- Наследуемый шаблон _template
extends ./templates/_template
block variables
	- var title = "IMS - I make stone"
//- Тело блока
block content
	include ./templates/_header
	include ./templates/_1-comparative
	include ./templates/_2-applying
	+form("Бесплатная консультация специалиста","Наш сотрудник с радостью ответит на все Ваши вопросы и вышлет на почту лучшее предложение",'form')
	include ./templates/_4-before-after
	include ./templates/_5-colors
	include ./templates/_7-questions
	+form("Остались вопросы?","Наш сотрудник с радостью ответит на все Ваши вопросы и вышлет на почту лучшее предложение")
	include ./templates/_8-production
	include ./templates/_9-stocks
	include ./templates/_10-reviews
	include ./templates/_11-maps
	+form("Бесплатная консультация специалиста","Наш сотрудник с радостью ответит на все Ваши вопросы и вышлет на почту лучшее предложение")
	include ./templates/_footer