//- Наследуемый шаблон _template
extends ./templates/_template
block variables
	- var title = "IMS - I make stone"
//- Тело блока
block content
	include ./templates/_header
	include ./templates/_1-comparative
	include ./templates/_1-thermopanels
	include ./templates/_2-applying
	+form("Бесплатная консультация специалиста","Наши специалисты ответят на любые Ваши вопросы и составят максимально выгодное для Вас предложение",'form')
	include ./templates/_4-before-after
	include ./templates/_5-colors
	include ./templates/_7-questions
	+form("Остались вопросы?","Наши специалисты ответят на любые Ваши вопросы и составят максимально выгодное для Вас предложение")
	// include ./templates/_8-production
	//- include ./templates/_9-stocks
	include ./templates/_3-gallery
	include ./templates/_10-reviews
	include ./templates/_11-maps
	include ./templates/_popup
	include ./templates/_footer