section.section.comparative#comparative
	.comparative__content
		.comparative__left
			.comparative__graph
				.comparative__age
					.comparative__y Долговечность
					.comparative__yAxe
				.comparative__field
					.comparative__title сравнительная характеристика материалов
					.comparative__bars
						.bar.bar__first
							.bar__text.bar__firstText Термопанели и гибкий камень
							.bar__body.bar__firstBody
								.bar__bodyAge 30 лет
								.bar__bodyPrice 1400 р
						.bar.bar__second
							.bar__text Сэндвич-панели
							.bar__body.bar__secondBody
								.bar__bodyAge 15 лет
								.bar__bodyPrice 1800 р
						.bar.bar__third
							.bar__text Сайдинг
							.bar__body.bar__thirdBody
								.bar__bodyAge 15 лет
								.bar__bodyPrice 2000 р
						.bar.bar__forth
							.bar__text Мокрый фасад
							.bar__body.bar__forthBody
								.bar__bodyAge 15 лет
								.bar__bodyPrice 2500 р
					.comparative__xAxe
			.comparative__x стоимость с установкой
		.comparative__right
			.comparative__logo
				.comparative__image
					img(src="./img/logo.png", alt="logo")
				.comparative__text i make stone
	.comparative__bg