section.section.comparative#comparative
	.comparative__content
		.comparative__left
			.comparative__graph
				.comparative__age
					.comparative__y Долговечность
					.comparative__yAxe
				.comparative__field
					.comparative__title сравнительная характеристика материалов
					.comparative__xAxe
			.comparative__x стоимость с установкой
		.comparative__right
			.comparative__logo
				.comparative__image
					img(src="./img/logo.png", alt="logo")
				.comparative__text i make stone
	.comparative__bg