section.section.thermopanels#thermopanels
	.thermopanels__content 
		.thermopanels__title Термопанели – это утепление и одновременно отделка фасада современным декоративным материалом.
		p Для термопанелей основой служит пенополистирол (ППС) или экструдированный пенополистирол (ППС).
		p Мы производим термопанели из ППС высокой плотности толщиной 30, 50 или 100 мм, из ЭППС толщиной 50 мм.
		ul Термопанель толщиной 100мм заменяет:
			li деревянную стену толщиной 450 мм;
			li керамзитобетонную стену толщиной 750 мм;
			li кирпичную стену толщиной 1700 мм.
		p Термопанели - паропроницаемый и экологически безопасный для здоровья человека и окружающей среды материал.
		p Термопанели не подвергаются воздействию влаги и гниению, не впитывают грязь а декоративный слой из мраморной крошки отлично укрывают стены здания от неблагоприятных атмосферных воздействий отталкивая воду.
		p Малый вес упрощает работу с материалом, а также не утяжеляет фасады конструкций.
		p Термопанели по сравнению с «мокрым фасадом», не трескаются при усадке построек.
		p Монтаж осуществляется на любую поверхность – газоблок, пеноблок, кирпич, штукатурку, дерево.
		p Монтаж термопанелей вы можете заказать у нас или сделать его самостоятельно что позволит существенно сэкономить бюджет по отделке фасада.
		p Применяется для отделки наружных фасадов в декоративных целях, а также в целях утепления. Не боится перепадов температур, любых внешних воздействий и влаги. Изделие можно красить. Наши панели не трескаются, не плесневеют и не гниют, не осыпаются. Пыль и грязь не въедаются, а цвет не выгорает и не меняется. Может монтироваться со швами и бесшовно.