section.reviews.section#reviews
	.reviews__content
		.reviews__title отзывы
		.reviews__items
			.review
				//- .review__image
					img(src="./img/review1_pic.jpg", alt="Review pic")
				.review__desc
					.review__name Алексей и Татьяна
					//- .review__workplace 
						.review__job projects manajer in
						.review__company Pixels 
					.review__text  Добрый день! Хочу сказать спасибо за внешнюю и внутреннюю гармонию нашего дома, которая появилась после проведения работ сотрудниками компании  IMS. Мы любители красоты и порядка. Отмечу - именно сочетания -  красоты и порядка... И эти ребята настолько гармонично всё сделали, что нам очень хочется, чтобы эту технологию оценили другие владельцы домов. Это практично, дешевле по сравнению с аналогами и проще в монтаже. 
					p Надеемся, что наш отзыв поможет принять вам верное решение при выборе отделочных материалов для дома.

			.review
				//- .review__image
					img(src="./img/review2_pic.jpg", alt="Review pic")
				.review__desc
					.review__name Роман
					//- .review__workplace
						.review__job creative director in 
						.review__company DD Agency
					.review__text  Не ожидал, честно говоря, что получу за небольшие деньги столько преимуществ по сравнению с теми материалами, которые выбирал. Во-первых, благородный внешний вид, во-вторых, высокую скорость выполнения работ и доступную стоимость как самих работ, так и материалов. В-третьих, я сторонник ЗОЖ и мне важно, чтобы материал, из которого построен дом, был экологически чистым. Мой выбор оценили соседи, которые до этого не слышали о таком материале для отделки дома, а теперь собираются производить ремонтные работы по моему совету. 
					p Редко пишу отзывы, в данном случае он был необходим для скептиков, которые боятся использовать новые технологии. Мир не стоит на месте, постоянно появляются новые материалы  - долговечные, энергосберегающие, выгодные по цене.  Желаю IMS дальнейшего развития и процветания.

			.review
				//- .review__image
					img(src="./img/review3_pic.jpg", alt="Review pic")
				.review__desc
					.review__name Диляра
					//- .review__workplace
						.review__job founder of 
						.review__company Pic Pen Studio
					.review__text  Здравствуйте! Я живу одна в своем доме и для меня любой ремонт – это проблема. Давно была потребность привести фасад дома в хороший внешний вид, но я не знала даже с чего начать. Хотелось, чтобы отделка  была современной, стильной и выглядела достойно. Очень благодарна компании IMS, специалисты которой провели весь цикл необходимых работ.  Они и замерили всё сами, и посоветовали с материалом, и девочки-дизайнеры всё очень хорошо нарисовали то, что впоследствии было в итоге сделано. Монтаж был быстрым и беспроблемным для меня. 
					p Хочу сказать, что это удачный пример соотношения цена — качество. Спасибо вам всем большое!