section.reviews
	.reviews__content
		.reviews__title отзывы
		.reviews__items
			.review
				.review__image
					img(src="./img/review_pic.jpg", alt="Review pic")
				.review__desc
					.review__name Sarah Lewin
					.review__workplace 
						.review__job projects manajer in
						.review__company Pixels 
					.review__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed, quam alias repudiandae repellat beatae sapiente fuga inventore esse laborum eaque qui incidunt vero, aspernatur!
			.review
				.review__image
					img(src="./img/review_pic.jpg", alt="Review pic")
				.review__desc
					.review__name Samuel Willson
					.review__workplace
						.review__job creative director in 
						.review__company DD Agency
					.review__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed, quam alias repudiandae repellat beatae sapiente fuga inventore esse laborum eaque qui incidunt vero, aspernatur!
			.review
				.review__image
					img(src="./img/review_pic.jpg", alt="Review pic")
				.review__desc
					.review__name Alex Larkins
					.review__workplace
						.review__job founder of 
						.review__company Pic Pen Studio
					.review__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed, quam alias repudiandae repellat beatae sapiente fuga inventore esse laborum eaque qui incidunt vero, aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed, quam alias repudiandae repellat beatae sapiente fuga inventore esse laborum eaque qui incidunt vero, aspernatur!