section.map.section#map
	.map__bg
		//- img(src="./img/map.jpg", alt="map").map__img
		#yandexMap
			iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae72cc22f8a40f664cd6a8eba0b572c6ddc0da57a5228a7f6d4c70587364832f3&amp;source=constructor" width="100%" height="410" frameborder="0")
	.map__content
		.mapCard
			.mapCard__logo
				img(src="./img/logo_black.png", alt="logo")
			.mapCard__place
				h3.mapCard__title Мы находимся
				p.mapCard__text Республика Татарстан, город Казань, улица Фатыха Карима, дом 9, офис 501
			.mapCard__phones
				h3.mapCard__title Наши телефоны
				.mapCard__phone
					a(href="tel:+78432400238").mapCard__text.hvr-grow 8 (843) 259-30-90
					span — отдел продаж
				.mapCard__phone
					a(href="https://api.whatsapp.com/send?phone=+79625593090").hvr-grow +7 (962) 559-30-90
					span — расчет по WhatsApp
			.mapCard__email
				span.mapCard__text email: 
				a(href="mailto:info@imakestone.ru").mapCard__link.hvr-grow info@imakestone.ru
