section.applying.section#applying
    .applying__content
        .applying__title где применяется гибкий камень и термопанели
        .applying__items#applayingallery
            each item in ['fasady','kaminy','kartiny','kuhnia','podokonniki','sauny','steny','stoly','stoyki','svet','vannye']
                a(href=`./img/usage/${item}.jpg`).gallery__item.hvr-shrink
                    img(src=`./img/usage/${item}.jpg` alt=`${item}`).gallery__img