section.beforeAfter.section#beforeAfter
	.beforeAfter__content
		.beforeAfterMenu
			.beforeAfterMenu__title Еще проекты
			.beforeAfterMenu__list
				.beforeAfterMenu__item.hvr-bubble-left
					.beforeAfterMenu__img.hvr-grow
						img(src="./img/more.jpg", alt="more")
				.beforeAfterMenu__item.hvr-bubble-left
					.beforeAfterMenu__img.hvr-grow
						img(src="./img/more.jpg", alt="more")
				.beforeAfterMenu__item.hvr-bubble-left
					.beforeAfterMenu__img.hvr-grow
						img(src="./img/more.jpg", alt="more")
				.beforeAfterMenu__item.hvr-bubble-left
					.beforeAfterMenu__img.hvr-grow
						img(src="./img/more.jpg", alt="more")
		.beforeAfterBody
			.beforeAfterBody__title До и после
			.beforeAfterBody__list
				each item in [1,2,3,4]
					.beforeAfterBody__img.animated.fadeIn(class=`beforeAfterBody_${item}`)
						.container-beforeafter
							.beforeafter
								.beforeafter-item.beforeafter-itemActive
									img(src="./img/slider_before.jpg", alt="before")
								.beforeafter-item
									img(src="./img/slider_after.jpg", alt="after")
			.beforeAfterBody__desc
				span До
				span После