section.colors.section#colors
	.colors__content
		.colors__title цветовая гамма производимых изделий
		.colors__items
			each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
				img(src=`./img/colors/${item}.png`, alt=`${item}`).hvr-grow
		.colors__textTop 
			p Цветовая гамма не является исчерпывающей, а представляет собой лишь пример того, что любое сочетание цветов и оттенков природного материала,  может быть материализовано на нашем призводстве.
		.colors__textBottom
			p Если Вы затрудняетесь с выбором цвета, наши дизайнеры, которые являются профессионалами своего дела,  непременно помогут Вам определиться с тем, в каких цветах и оттенках будет окружающее Вас пространство.
			p Также наши дизайнеры готовы создать любой дизайн-проект, который будет отвечать самым изысканным Вашим требованиям.
