section.colors.section#colors
	.colors__content
		.colors__title цветовая гамма производимых изделий
		.colors__items
			img(src="./img/colors/1.png", alt="1")
			img(src="./img/colors/2.png", alt="2")
			img(src="./img/colors/3.png", alt="3")
			img(src="./img/colors/4.png", alt="4")
			img(src="./img/colors/5.png", alt="5")
			img(src="./img/colors/6.png", alt="6")
			img(src="./img/colors/7.png", alt="7")
			img(src="./img/colors/8.png", alt="8")
			img(src="./img/colors/9.png", alt="9")
			img(src="./img/colors/10.png", alt="10")
			img(src="./img/colors/11.png", alt="11")
			img(src="./img/colors/12.png", alt="12")
			img(src="./img/colors/13.png", alt="13")
			img(src="./img/colors/14.png", alt="14")
			img(src="./img/colors/15.png", alt="15")
			img(src="./img/colors/16.png", alt="16")
			img(src="./img/colors/17.png", alt="17")
			img(src="./img/colors/18.png", alt="18")