section.questions.section#questions
	.questions__content
		.questions__title Часто задаваемые вопросы о продукции
		.questionsBody
			ul.questionsBody__list
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc.animated.fadeIn Не отслоится, не беспокойтесь :) Мы все сделаем
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc.animated.fadeIn Не отслоится, не беспокойтесь :) Она не плачет
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc.animated.fadeIn Не отслоится, не беспокойтесь :) Ой горе, ну и что
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc.animated.fadeIn Не отслоится, не беспокойтесь :) Земля круглая