section.questions.section#questions
	.questions__bg
		//- img(src="./img/logo_brown.png", alt="brown")
	.questions__content
		.questions__title Часто задаваемые вопросы
		.questionsBody
			.questionsBody__list
				.questionsBody__item
					.questionsBody__title 
						p Не отслоится ли со временем декоративный слой от утеплителя? 
						.questionsBody__trigger +
					.questionsBody__desc.animated.fadeIn Нет, не отслоится, т.к. декоративный слой не приклеен к пенополистиролу, а интегрирован в его структуру по специальной технологии, глубина проникновения защитного слоя в пенополистирол от 10 до 15 мм.
				.questionsBody__item
					.questionsBody__title
						p На какую поверхность можно монтировать термопанели? 
						.questionsBody__trigger +
					.questionsBody__desc.animated.fadeIn Термопанели монтируются на любую поверхность: кирпич, бетон, дерево, газобетон, OSB, штукатурку.
				.questionsBody__item
					.questionsBody__title 
						p Если я утеплю фасад системой, мой дом станет термосом и стены “дышать” не будут? 
						.questionsBody__trigger +
					.questionsBody__desc.animated.fadeIn Паропроницаемость пенопласта никак не отразится на микроклимате помещений, если его установку осуществлять снаружи здания. Не стоит полагать, что в продаже можно найти пенополистирол с разной паропроницаемостью. Эта характеристика остается одинаковой, независимо от плотности и вспененности. Этот показатель аналогичен древесному срубу дуба или сосны.
				.questionsBody__item
					.questionsBody__title 
						p Защищена ли фасадная система от вандализма?
						.questionsBody__trigger +
					.questionsBody__desc.animated.fadeIn Термопанели с мраморной крошкой обладают достаточной жесткостью, чтобы их можно было использовать как на частных домах, так и на общественных. Толщина защитного слоя составляет 3-5 мм.