section.questions 
	.questions__content
		.questions__title Часто задаваемые вопросы о продукции
		.questionsBody
			ul.questionsBody__list
				li.questionsBody__item.active
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc Не отслоится, не беспокойтесь :)
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc Не отслоится, не беспокойтесь :)
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc Не отслоится, не беспокойтесь :)
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc Не отслоится, не беспокойтесь :)