section.questions 
	.questions__content
		.questions__title Часто задаваемые вопросы о продукции
		.questionsBody
			ul.questionsBody__list
				li.questionsBody__item.active
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa explicabo quod vitae totam nesciunt ea corrupti blanditiis pariatur, commodi illum magni aliquid suscipit numquam ipsam officia ex natus ipsum.
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa explicabo quod vitae totam nesciunt ea corrupti blanditiis pariatur, commodi illum magni aliquid suscipit numquam ipsam officia ex natus ipsum.
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa explicabo quod vitae totam nesciunt ea corrupti blanditiis pariatur, commodi illum magni aliquid suscipit numquam ipsam officia ex natus ipsum.
				li.questionsBody__item
					.questionsBody__title Не отслоится ли со временем декоративный слой от утеплителя? 
					.questionsBody__trigger +
					.questionsBody__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa explicabo quod vitae totam nesciunt ea corrupti blanditiis pariatur, commodi illum magni aliquid suscipit numquam ipsam officia ex natus ipsum.