section.production
	.production__content
		.production__title наша продукция
		.production__items
			.production__item.product.product__first
				.product__image
					img(src="./img/gibky_kamen.png", alt="Gibky kamen")
				.product__desc
					.product__name Гибкий камень
					.product__price от 750 руб. за кв/м
					.product__button 
						button Заказать
			.production__item.product.product__second
				.product__image
					img(src="./img/gibky_kamen.png", alt="Gibky kamen")
				.product__desc
					.product__name Гибкий камень
					.product__price от 750 руб. за кв/м
					.product__button 
						button Заказать