footer.animated.slideInUp
    .footer
        .footer__navigation
            +navigation
        .footer__defense
            .footer__content
                p © 2020 Все права защищены 
                +contacts('contacts--hor')