footer.animated.slideInUp#footer
    .footer
        .footer__navigation
            +navigation('navigation--footer')
            span.navigation__adress.navigation--bottom город Казань, улица Фатыха Карима, д. 9, оф. 502
        .footer__defense
            .footer__content
                p © 2020 Все права защищены 
                +contacts('contacts--hor')