footer.animated.slideInUp#footer
    .footer
        .footer__navigation
            +navigation('navigation--footer')
        .footer__defense
            .footer__content
                p © 2020 Все права защищены 
                +contacts('contacts--hor')