header.header Шапка сайта
	+navigation
	+contacts('contacts--vert')
	.presentation
		.presentation__bg
			img(src="./img/headerBg.jpg", alt="background")
		h1.presentation__title Термопанель и гибкий камень от производителя
		button.presentation__consult Получить консультацию
	.description
		.description__panel
			.descriptionMenu
				a(href="#").descriptionMenu__item
					.descriptionMenu__icon
						img(src="./img/icon_fire.png", alt="fire")
					.descriptionMenu__title Не горят, устойчивы к перепаду
				a(href="#").descriptionMenu__item
					.descriptionMenu__icon
						img(src="./img/icon_drops.png", alt="drops")
					.descriptionMenu__title Легко моются, не впитывают влагу
				a(href="#").descriptionMenu__item
					.descriptionMenu__icon
						img(src="./img/icon_sun.png", alt="sun")
					.descriptionMenu__title Устойчивы к выцветанию
				a(href="#").descriptionMenu__item
					.descriptionMenu__icon
						img(src="./img/icon_zigzag.png", alt="zigzag")
					.descriptionMenu__title Не трескаются, высокопрочные
				a(href="#").descriptionMenu__item
					.descriptionMenu__icon
						img(src="./img/icon_sheet.png", alt="sheet")
					.descriptionMenu__title Перечень других преимуществ
		.description__body
			.descriptionBody
				.descriptionBody__item.active
					.descriptionBody__img
						img(src="", alt="")
					.descriptionBody__text
						h3 Огнестойкость гибкого камня и термопанелей
						p Экологически чистый материал не горит , не плавится и не поддерживает горение. Результатом воздействия высоких температур на гибкий камень является его размягчение. Температурный диапазон эксплуатации этого материала от -40˚C до +650˚C. Материал с такими характеристиками легко можно использовать как для внутренней, так и для внешней отделки. Защитное покрытие термопанелей на основе мраморной крошки так же не горит , не плавится и не поддерживает горение!
				.descriptionBody__item
					.descriptionBody__img
						img(src="", alt="")
					.descriptionBody__text
						h3 Огнестойкость гибкого камня и термопанелей
						p Экологически чистый материал не горит , не плавится и не поддерживает горение. Результатом воздействия высоких температур на гибкий камень является его размягчение. Температурный диапазон эксплуатации этого материала от -40˚C до +650˚C. Материал с такими характеристиками легко можно использовать как для внутренней, так и для внешней отделки. Защитное покрытие термопанелей на основе мраморной крошки так же не горит , не плавится и не поддерживает горение!
				.descriptionBody__item
					.descriptionBody__img
						img(src="", alt="")
					.descriptionBody__text
						h3 Огнестойкость гибкого камня и термопанелей
						p Экологически чистый материал не горит , не плавится и не поддерживает горение. Результатом воздействия высоких температур на гибкий камень является его размягчение. Температурный диапазон эксплуатации этого материала от -40˚C до +650˚C. Материал с такими характеристиками легко можно использовать как для внутренней, так и для внешней отделки. Защитное покрытие термопанелей на основе мраморной крошки так же не горит , не плавится и не поддерживает горение!
				.descriptionBody__item
					.descriptionBody__img
						img(src="", alt="")
					.descriptionBody__text
						h3 Огнестойкость гибкого камня и термопанелей
						p Экологически чистый материал не горит , не плавится и не поддерживает горение. Результатом воздействия высоких температур на гибкий камень является его размягчение. Температурный диапазон эксплуатации этого материала от -40˚C до +650˚C. Материал с такими характеристиками легко можно использовать как для внутренней, так и для внешней отделки. Защитное покрытие термопанелей на основе мраморной крошки так же не горит , не плавится и не поддерживает горение!
				.descriptionBody__item
					.descriptionBody__img
						img(src="", alt="")
					.descriptionBody__text
						h3 Огнестойкость гибкого камня и термопанелей
						p Экологически чистый материал не горит , не плавится и не поддерживает горение. Результатом воздействия высоких температур на гибкий камень является его размягчение. Температурный диапазон эксплуатации этого материала от -40˚C до +650˚C. Материал с такими характеристиками легко можно использовать как для внутренней, так и для внешней отделки. Защитное покрытие термопанелей на основе мраморной крошки так же не горит , не плавится и не поддерживает горение!
	
