header.header.section#header
	//- span.navigation__adress город Казань, улица Фатыха Карима, д. 9, оф. 501
	+address
	.header__navigation.animated.slideInDown
		+navigation
	//- .header__contacts
	//- 	+contacts('contacts--vert')
	
	.presentation
		.presentation__title
		.presentation__contacts
			+contacts('contacts--vert')
		
		.presentation__title
			h1.animated.zoomIn Термопанель и гибкий камень
			h2.animated.zoomIn от производителя
			button.hvr-grow.popupTrg Получить консультацию
	.presentation__bg.animated.fadeIn
		.presentation__filter
		.presentation__gradient
		img(src="./img/headerBg.jpg", alt="background")
.description.section#description
	.descriptionMenu
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_fire.png", alt="fire")
			.descriptionMenu__title Не горят, устойчивы к перепаду
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_drops.png", alt="drops")
			.descriptionMenu__title Легко моются, не впитывают влагу
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_sun.png", alt="sun")
			.descriptionMenu__title Устойчивы к выцветанию
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_zigzag.png", alt="zigzag")
			.descriptionMenu__title Не трескаются, высокопрочные
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_sheet.png", alt="sheet")
			.descriptionMenu__title Перечень других преимуществ
	.descriptionBody
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Огнестойкость гибкого камня и термопанелей
				p Экологически чистый материал не горит, не плавится и не поддерживает горение. Результатом воздействия высоких температур на гибкий камень является его размягчение. Температурный диапазон эксплуатации этого материала от -40˚C до +650˚C. Материал с такими характеристиками легко можно использовать как для внутренней, так и для внешней отделки. Защитное покрытие термопанелей на основе мраморной крошки так же не горит, не плавится и не поддерживает горение!
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Легко моются, не впитывают влагу
				p Покрытие гибкого камня и термопанелей на основе мраморной крошки и специального эластичного материала отталкивает влагу, в порах поверхности не откладывается придорожная пыль и грязь. Если Вы все же решите помыть этот материал, то это можно сделать даже автомобильной мойкой высокого давления. При направленной струе высокого давления в одну точку материала на расстоянии 10-15 см от него в течение 5-7 минут не нанесут ему никаких повреждений.
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Устойчивы к выцветанию
				p Цвет гибкого камня и термопанелей образуется путем окрашивания самой мраморной крошки, а не нанесение красящего материала сверху или смешивания с колерами на водной основе. Окрашивание материала осуществляется специальными пигментами устойчивыми к выцветанию. Например TiO2.
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Не трескаются, высокопрочные
				p При монтаже материала швы заделываются эластичной смесью на основе акриловой смолы. Сам декоративный слой состоит из эластичной акриловой смолы, наполненной натуральной, обеспыленной мраморной крошкой и комплексом модифицированных добавок. Все это позволяет материалу принимать различную форму и под воздействием усадки фундамента не образуются трещины.
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Перечень других преимуществ
				p Долговечность. Материал устойчив к воздействиям внешней среды.
				p Пластичность. Материал, при желании, может принять любую необходимую форму, прикрепиться к любой поверхности. 
				p Простор для творчества и фантазии. Непревзойденный внешний вид, с текстурой среза натурального песчаника.
				p Широкая сфера применения: отделка фасада, стен, пола, бассейна, сауны, облицовка каминов и лестниц, создание ландшафтного дизайна и многое другое.
				p Легкий вес изделия. Для транспортировки можно использовать даже легковой автомобиль.
				p Натуральный материал, совершенно не опасен для здоровья человека, а также не представляет угрозу для окружающей среды.
				p Материал можно использовать для нанесения фрески

