header.header.section#header Шапка сайта
	.header__navigation.animated.slideInDown
		+navigation
	//- .header__contacts
	//- 	+contacts('contacts--vert')
	.presentation
		.presentation__contacts
			+contacts('contacts--vert')
		.presentation__bg.animated.fadeIn
			.presentation__filter
			.presentation__gradient
			img(src="./img/headerBg.jpg", alt="background")
		.presentation__title
			h1.animated.zoomIn Термопанель и гибкий камень
			h2.animated.zoomIn от производителя
			button.hvr-pulse-shrink.link(data-target="form") Получить консультацию
.description.section#description
	.descriptionMenu
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_fire.png", alt="fire")
			.descriptionMenu__title Не горят, устойчивы к перепаду
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_drops.png", alt="drops")
			.descriptionMenu__title Легко моются, не впитывают влагу
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_sun.png", alt="sun")
			.descriptionMenu__title Устойчивы к выцветанию
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_zigzag.png", alt="zigzag")
			.descriptionMenu__title Не трескаются, высокопрочные
		a(href="#").descriptionMenu__item.hvr-bubble-bottom
			.descriptionMenu__icon
				img(src="./img/icon_sheet.png", alt="sheet")
			.descriptionMenu__title Перечень других преимуществ
	.descriptionBody
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Огнестойкость гибкого камня и термопанелей
				p Экологически чистый материал не горит , не плавится и не поддерживает горение. Результатом воздействия высоких температур на гибкий камень является его размягчение. Температурный диапазон эксплуатации этого материала от -40˚C до +650˚C. Материал с такими характеристиками легко можно использовать как для внутренней, так и для внешней отделки. Защитное покрытие термопанелей на основе мраморной крошки так же не горит , не плавится и не поддерживает горение!
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Легко моются, не впитывают влагу
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tempore modi cupiditate illum omnis nostrum rem excepturi, voluptas voluptatum neque aperiam quo corporis vel reiciendis doloribus? Nisi a ipsam reiciendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero dolorum qui hic deserunt, nobis quod asperiores? Iste incidunt asperiores non doloribus? Eaque doloremque, ex inventore amet sint laboriosam commodi.
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Устойчивы к выцветанию
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tempore modi cupiditate illum omnis nostrum rem excepturi, voluptas voluptatum neque aperiam quo corporis vel reiciendis doloribus? Nisi a ipsam reiciendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero dolorum qui hic deserunt, nobis quod asperiores? Iste incidunt asperiores non doloribus? Eaque doloremque, ex inventore amet sint laboriosam commodi.
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Не трескаются, высокопрочные
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tempore modi cupiditate illum omnis nostrum rem excepturi, voluptas voluptatum neque aperiam quo corporis vel reiciendis doloribus? Nisi a ipsam reiciendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero dolorum qui hic deserunt, nobis quod asperiores? Iste incidunt asperiores non doloribus? Eaque doloremque, ex inventore amet sint laboriosam commodi.
		.descriptionBody__item.animated.fadeIn
			.descriptionBody__img
				img(src="./img/ognestoykost.jpg", alt="fireResist")
			.descriptionBody__text
				h3 Перечень других преимуществ
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tempore modi cupiditate illum omnis nostrum rem excepturi, voluptas voluptatum neque aperiam quo corporis vel reiciendis doloribus? Nisi a ipsam reiciendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero dolorum qui hic deserunt, nobis quod asperiores? Iste incidunt asperiores non doloribus? Eaque doloremque, ex inventore amet sint laboriosam commodi.

