#popup.popup.animated.fadeIn
	a.popup__close +
	form.formCall#formCall
		h2.formCall__title Заказать звонок
		input(type="text" placeholder="Ваше имя" name="name").formCall__input
		input(type="tel" placeholder="Номер телефона" name="phone").formCall__input
		input(type="submit").formCall__submit
